body { 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	background-color: #f0f0f0; 
	margin: 50px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 50vh;
	overflow: scroll; /* Prevent the body from scrolling */ 
} 

#calculator { 
	background-color: #ffffff; 
	padding: 25px; 
	width: 500px; 
	border-radius: 10px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
	text-align: center; 
	overflow-y: visible; /* Enable scrolling within the calculator */
    max-height: 7em; /* Adjust max-height to fit within the viewport */
} 

button { 
	margin-top: 15px; 
	padding: 12px 20px; 
	background-color: #fdd006; 
	color: #fff; 
	border: none; 
	border-radius: 50px; 
	cursor: pointer; 
	font-size: 14px;
	display: inline-block; /* Ensure buttons are inline-block */ 
} 
button {
	font-weight: 600;
	border-width: 1px;
	font-style: normal;
	margin: 0.6rem 0.6rem;
	white-space: normal;
	transition: all 0.2s ease-in-out;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	word-break: break-word;
  }
  

li { 
	margin-bottom: 10px; 
	list-style-type: none; 
} 

input, 
select { 
	width: calc(100% - 15px); 
	padding: 10px; 
	margin-bottom: 15px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	box-sizing: border-box; 
	font-size: 14px; 
} 

h2, 
h3 { 
	margin-bottom: 20px; 
	color: #333; 
} 

#cgpa { 
	font-size: 24px; 
	font-weight: bold; 
	color: #4caf50; 
} 

#subjectList { 
	text-align: left; 
} 

button.edit, 
button.delete { 
	padding: 8px 15px; 
	margin-left: 5px; 
	font-size: 12px; 
	cursor: pointer; 
} 

button.delete { 
	background-color: #d9534f; 
} 

.error { 
	color: #d9534f; 
	font-size: 16px; 

} 

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin-top: 20px; 
} 

th, 
td { 
	border: 1px solid #ddd; 
	padding: 8px; 
	text-align: left; 
} 

th { 
	background-color: #f2f2f2; 
}
